@charset "utf-8";
/*-------------------------------------------------------------------------------------------------------------
	File : Layout.css
	Company : The Webstyle co.,ltd
	Author : Woo Seok, Shin 2017-11
	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, font/color, align, etc
-------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	Common Layout
-------------------------------------------------------------------*/
/* Common */
html, body {}
.in-sec {position:relative; max-width:1100px; margin:auto;}
.out-sec {position:relative; width:100%; min-width:1100px; max-width:100%;}

/* Wrapper */
#wrapper {width:100%; min-width:1100px; height:100%;}
#header {height:150px;}
#container {min-height:100%; margin:-150px 0 -160px;}
#footer {height:160px;}

/* LNB */
.lnb-wrap {position:relative; z-index:50;}
.lnb {background-color:#eee;}
.lnb > ul {max-width:1200px; margin:auto; background-color:#eee;}
.lnb > ul:after {content:''; clear:both; display:block;}
.lnb > ul > li {float:left; width:20%; height:50px; text-align:center;}
.lnb .node1 {display:block; line-height:50px; color:#333;}
.lnb .node1:hover,
.lnb .node1:focus,
.lnb .active .node1 {font-family:'NSB'; background-color:#96c; color:#fff;}
.lnb .depth2 {display:none; background-color:#fff;}
.lnb .depth2 > ul:after {content:''; clear:both; display:block;}
.lnb .depth2 > ul {padding:10px 0; background-color:#96c;}
.lnb .depth2 .node2 {display:block; padding:10px 20px; color:#fff; text-align:left;}
.lnb .depth2 .node2:hover,
.lnb .depth2 .node2:focus,
.lnb .depth2 .active .node2 {font-family:'NSB'; color:#fff;}
.lnb-wrap .lnb-bg {}

/*-------------------------------------------------------------------
	Main Layout
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
	Sub Main Layout
-------------------------------------------------------------------*/
