@charset "utf-8";

/*  File Inforomaiton
    Description    : Content Style
    Order Content  : Common > Menu > Popup
    Order Property : Display > Position > Box Model > Design > Paragrahph

    ##             : (분류검색의 키워드 중복방지 # 붙힘)
    Common         : 공통 화면
    Menu           : 메뉴 화면 (화면 접근경로 표시)
    Popup          : 팝업 화면 (팝업 접근경로 표시)
*/

/*-------------------------------------------------------------------
    ## Common
-------------------------------------------------------------------*/
/* 화면명 */

/*-------------------------------------------------------------------
    ## Menu
-------------------------------------------------------------------*/
/* 메뉴명 > 화면명 */

/*-------------------------------------------------------------------
    ## Popup
-------------------------------------------------------------------*/
/* 메뉴명 > 화면명 > 팝업명 */