@charset "utf-8";

/*  File Inforomaiton
    Description    : Layout Style
    Order Layout   : Wrapper > Navigation > Popup
    Order Property : Display > Position > Box Model > Design > Paragrahph

    ##             : (분류검색의 키워드 중복방지 # 붙힘)
    Wrapper        : 전체영역 레이아웃
    Navigation     : 네비게이션 모음
    Popup          : 팝업 레이아웃
*/

/*-------------------------------------------------------------------
    ## Wrapper
-------------------------------------------------------------------*/
/* Layout */

/* Header */

/* Container */

/* Footer */


/*-------------------------------------------------------------------
    ## Navigation
-------------------------------------------------------------------*/
/* GNB (Global Nav) */

/* UNB (Util Nav) */

/* LNB (Local Nav) */

/* ANB (All Nav) */

/* MNB (Mobile Nav) */

/* SNB (Sub Nav) */

/* FNB (Footer Nav) */

/* QNB (Quick Nav) */


/*-------------------------------------------------------------------
    ## Popup
-------------------------------------------------------------------*/
/* Basic */

/* Full */

/* Alert */

/* Error */

/* Message */

/* Select */

/* Event */
