@charset "utf-8";

/*-------------------------------------------------------------------
	정규식 팁

	1. 스타일 값을 클래스명으로 변수만들기
		찾을 말 : ([.])(.*) ([{])(.*)([:])(.*)([}])
		바꿀 말 : \1\2 \3\4\5\$\2\7

	2. 클래스명을 변수로 변환하기
		찾을 말 : ([.])(.*) ([{])(.*)([}])
		바꿀 말 : \$\2\: \4
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	기본정책
-------------------------------------------------------------------*/
/* 본문너비 */
$body-width: 1200px;

/*-------------------------------------------------------------------
	유틸리티
-------------------------------------------------------------------*/
%clear-b {content:''; clear:both; display:block;} /* selector::after {@extend %clear-b;} */
%centered {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);} /* selector {@extend %central;} */

/*-------------------------------------------------------------------
	컬러정의
-------------------------------------------------------------------*/
/* 명암 */
$c-none: transparent;
$c-white: white;
$c-black: black;
$c-gray: gray;
$c-gray-2: #222;
$c-gray-3: #333;
$c-gray-4: #444;
$c-gray-5: #555;
$c-gray-6: #666;
$c-gray-7: #777;
$c-gray-8: #888;
$c-gray-9: #999;
$c-gray-a: #aaa;
$c-gray-b: #bbb;
$c-gray-c: #ccc;
$c-gray-d: #ddd;
$c-gray-e: #eee;
$c-gray-f: #f8f8f8;

/* 채도 */
$c-orange: #ff8000;
$c-orange-dark: #ff6600;
$c-orange-light: #ffaa00;
$c-orange2: #ffaa44;
$c-blue: #0000ff;
$c-blue-dark: #0000dd;
$c-blue-light: #4444ff;
$c-blue2: #0044ee;
$c-red: #ff0000;
$c-red-dark: #dd0000;
$c-red-light: #ff4444;
$c-red2: #ee4400;

/* 의미 */
$c-basic: #333;
$c-success: #47a104
$c-warning: #e9b500;
$c-danger: #d45704;
$c-error: #ff0000;
$c-info: #949494;
$c-info-light: #b4b4b4;
$c-info-dark: #747474;
$c-primary: #2496ee;
$c-secondary: #54873c;
$c-third: #c4873c;
$c-main: #2496ee;
$c-main-light: #44a6fe;
$c-sub: #54873c;
$c-sub-light: #74a75c;

/*-------------------------------------------------------------------
	Fonts
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
	Border
-------------------------------------------------------------------*/

