@charset "UTF-8";
/*-------------------------------------------------------------------
    파일정의 : Variables
    참고사항 : 가이드는 g- 접두어를 사용
    분류순서 : 기본정책 > 유틸리티 > 레이아웃
    속성순서 : Display > Position > Box Model > Design > Paragraph
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    ## 기본정책
-------------------------------------------------------------------*/
/* 해상도정의 */
/* 색상정의 */
/*-------------------------------------------------------------------
    ## 레이아웃
-------------------------------------------------------------------*/
/* Extend */
.g-logo {
  border-bottom: 0px solid #454545; }

/* Color */
/* Area */
/* Gutter */
/* Etc */
/* 유틸리티 */
/*-------------------------------------------------------------------
    ## Layout
-------------------------------------------------------------------*/
/* Wrapper */
#g-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 60px;
  background-color: #fff;
  transform: translate(0, -102%);
  -webkit-transform: translate(0, -102%);
  -moz-transform: translate(0, -102%);
  -ms-transform: translate(0, -102%);
  -o-transform: translate(0, -102%);
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out; }

#g-header .g-header-inner {
  height: 100%;
  padding: 10px; }

#g-aside, #g-content {
  min-height: 100vh; }

#g-aside {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  overflow: hidden;
  width: 250px;
  background-color: #222;
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transition: transform 0.3s ease-out; }

#g-aside .g-aside-scroll {
  height: 100%;
  overflow: auto; }

#g-content {
  padding-top: 0;
  padding-left: 250px;
  background-color: #fff;
  -o-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
  -webkit-transition: padding 0.3s ease-out; }

.g-mask {
  display: block;
  position: fixed;
  left: 0;
  top: 60px;
  bottom: 0;
  z-index: 1000;
  background-color: #000;
  opacity: 0;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out; }

/* Active Layout */
/* Aside 띄우기
.is-aside-opened .g-mask {left:0; right:0; opacity:$g-opacity-mask;}
.is-aside-opened #g-aside {z-index:10001; @include gMixTransform(translateX(0));}
*/
/* Aside 밀기 */
.is-aside-opened #g-header {
  transform: translate(250px, 0);
  -webkit-transform: translate(250px, 0);
  -moz-transform: translate(250px, 0);
  -ms-transform: translate(250px, 0);
  -o-transform: translate(250px, 0); }

.is-aside-opened #g-aside {
  z-index: 10001;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0); }

.is-aside-opened #g-content {
  padding-left: 250px; }

/* Body Scrolled */
.is-body-scrolled #g-header {
  box-shadow: 0 2px 2px 0px rgba(150, 150, 150, 0.5);
  -webkit-box-shadow: 0 2px 2px 0px rgba(150, 150, 150, 0.5); }

/* Header */
.g-btn-aside:before, .g-btn-aside:after {
  content: ''; }

.g-btn-aside:before, .g-btn-aside:after, .g-btn-aside span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 2px;
  overflow: hidden;
  background-color: #222;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.g-btn-aside:before {
  margin-top: -7px; }

.g-btn-aside:after {
  margin-top: 7px; }

.g-btn-aside {
  display: inline-block;
  position: relative;
  float: left;
  height: 100%;
  width: 40px;
  margin-left: 20px;
  color: transparent;
  vertical-align: middle; }

.g-breadcrumb {
  display: inline-block;
  float: left; }

.g-breadcrumb p {
  padding: 0 20px;
  font-size: 24px;
  font-family: 'NSB';
  line-height: 40px;
  color: #222; }

/* Aside */
.g-logo {
  padding: 0 20px;
  background-color: #222; }

.g-logo a {
  font-size: 16px;
  line-height: 60px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: bold; }

/* @include gMixBxShadow(0 2px 2px 0px rgba(0,0,0,0.5));*/
/* LNB */
.g-lnb > ul > li > a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  font-size: 16px;
  font-family: 'NSB';
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.g-lnb > ul > li {
  border-bottom: 1px solid #444; }

.g-lnb > ul > li.is-current > a,
.g-lnb > ul > li > a:focus,
.g-lnb > ul > li > a:active,
.g-lnb > ul > li > a:hover {
  color: yellow; }

.g-lnb > ul > li.is-current > a:after {
  content: '';
  display: inline-block; }

/* SNB */
.g-snb {
  display: none_; }

.g-snb-group {
  padding: 15px 20px;
  background-color: #222; }

.g-snb-group {
  padding: 15px 20px;
  border-top: 1px solid #333; }

.g-snb-group .g-snb-tit {
  color: #eee;
  font-weight: bold; }

.g-snb-group .g-snb-tit a {
  color: yellow; }

.g-snb-group .g-snb-tit + .g-depth1 {
  margin-top: 10px; }

.g-snb-group .g-depth1:after {
  content: '';
  display: block;
  clear: both; }

.g-snb-group .g-depth1 > li {
  float: left;
  width: 100%; }

.g-snb-group .g-depth1 > li > a {
  display: inline-block;
  line-height: 2;
  color: #999;
  -o-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-transition: color 0.3s; }

.g-snb-group .g-depth1 > li.is-current > a,
.g-snb-group .g-depth1 > li > a:focus,
.g-snb-group .g-depth1 > li > a:hover {
  color: #fff; }

/* Content */
.g-content-header {
  height: 60px;
  padding: 0; }

.g-content-body {
  padding: 40px; }

/* Responsive */
@media screen and (min-width: 320px) {
  #g-header {
    transform: translate(0, 0%);
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    -o-transform: translate(0, 0%); }
  #g-aside {
    transform: translateX(-250px);
    -webkit-transform: translateX(-250px);
    -moz-transform: translateX(-250px);
    -ms-transform: translateX(-250px);
    -o-transform: translateX(-250px); }
  #g-content {
    padding-top: 0;
    padding-left: 0; } }

/*-------------------------------------------------------------------
	UI
-------------------------------------------------------------------*/
/* Section */
.g-section {
  line-height: 1.8;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px; }

.g-section + .g-section {
  margin-top: 60px; }

.g-section-header {
  position: relative;
  border-bottom: 1px solid #ccc; }

.g-section-body {
  margin-top: 20px; }

.g-section-tab {
  margin-top: 20px; }

.g-section-tab + .g-section-body {
  margin-top: 30px; }

/* 목차 */
.g-h1 {
  font-size: 22px;
  font-weight: normal; }

.g-h2 {
  font-size: 20px;
  font-weight: normal; }

.g-h2:before {
  display: block;
  width: 20px;
  height: 1px;
  margin-bottom: 5px;
  background-color: #222; }

.g-h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'NSB'; }

.g-h3:first-child {
  margin-top: 0; }

.g-h4 {
  margin-top: 25px;
  color: #278df5;
  font-family: 'NSB'; }

.g-h3 + .g-h4 {
  margin-top: 10px; }

.g-h4:before {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 3px;
  height: 13px;
  margin-right: 5px;
  background-color: #278df5;
  vertical-align: middle; }

/* 컬러 */
.g-txt-red {
  color: red; }

/* 설명 */
ul.g-desc {
  margin: 5px 0; }

ul.g-desc:last-child {
  margin-bottom: 0; }

p.g-desc, ul.g-desc > li {
  position: relative;
  padding: 0 0 0 10px;
  font-size: 14px; }

p.g-desc:before, ul.g-desc > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 13px;
  display: block;
  width: 2px;
  height: 2px;
  background: #000;
  border-radius: 50%; }

.g-desc-guide {
  margin-top: 10px;
  font-size: 12px;
  color: #666; }

.g-desc-guide a {
  color: #666;
  border-bottom: 1px solid #666; }

.g-desc-guide a:hover, .g-desc-guide a:focus {
  color: #333; }

.g-desc-guide + .g-desc-guide {
  margin-top: 5px; }

.g-code {
  border: 1px solid #ccc;
  margin: 10px 0; }

/* 박스 */
.g-box-color {
  margin: -5px 0; }

.g-box-color:after {
  content: '';
  clear: both;
  display: block; }

.g-box-color .g-box-inner {
  float: left;
  width: 130px;
  padding: 5px 0;
  margin-right: -1px; }

.g-box-color .g-box-header {
  height: 80px; }

.g-box-color .g-box-body {
  padding: 5px 0;
  text-align: center;
  color: #333;
  background-color: #fff;
  border: 1px solid #eee; }

/* 표 type1 - 일반컨텐츠 */
.g-tbl-type1 {
  overflow: hidden;
  border: 1px solid #333;
  border-width: 1px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.g-tbl-type1 table {
  width: calc(100% + 2px);
  table-layout: fixed;
  margin: 0 -1px -1px; }

.g-tbl-type1 table th, .g-tbl-type1 table td {
  height: 30px;
  vertical-align: middle;
  text-align: left;
  line-height: 13px;
  font-size: 12px;
  background: #fff;
  line-height: 1.5; }

.g-tbl-type1 table th {
  padding: 0 15px;
  border-bottom: 1px solid #666;
  background-color: #f8f8f8;
  text-align: center;
  font-family: 'NSB';
  font-size: 12px;
  line-height: 13px; }

.g-tbl-type1 table td {
  padding: 3px 15px;
  border: 1px solid #eee;
  border-bottom: 0; }

.g-tbl-type1 table tbody tr:first-child td {
  border-top: 0; }

.g-tbl-type1 table tbody + tbody tr:first-child td {
  border-top: 1px solid #666; }

.g-tbl-type1 table tbody th {
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee; }

.col > .g-tbl-type1 {
  margin-top: 0; }

/* 표 type2 - 강조리스트 */
.g-tbl-type2 {
  overflow: hidden;
  border-bottom: 1px solid #333;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.g-tbl-type2 table {
  width: calc(100% + 2px);
  table-layout: fixed;
  margin: 0 -1px -1px; }

.g-tbl-type2 table th, .g-tbl-type2 table td {
  height: 30px;
  vertical-align: middle;
  text-align: left;
  line-height: 13px;
  font-size: 12px;
  background: #fff;
  line-height: 1.5; }

.g-tbl-type2 table th {
  padding: 0 15px;
  background-color: #333;
  text-align: center;
  font-family: 'NSB';
  font-size: 12px;
  color: #fff; }

.g-tbl-type2 table td {
  padding: 3px 15px;
  border-top: 1px solid #eee;
  border-bottom: 0; }

.g-tbl-type2 table tbody tr:first-child td {
  border-top: 0; }

.g-tbl-type2 table tbody + tbody tr:first-child td {
  border-top: 1px solid #666; }

/* Tab Codeview */
.g-tab-codeview {
  position: relative; }

.g-tab-codeview .g-tab-body {
  overflow: hidden; }

.g-tab-codeview .g-tab-nav {
  background-color: #eee; }

.g-tab-codeview .g-tab-nav ul::after {
  content: '';
  display: block;
  clear: both; }

.g-tab-codeview .g-tab-nav li {
  float: left;
  line-height: 1; }

.g-tab-codeview .g-tab-nav li + li {
  margin-left: -1px; }

.g-tab-codeview .g-tab-nav li > a {
  display: block;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
  border: 1px solid #eee;
  background-color: #fff; }

.g-tab-codeview .g-tab-nav li.is-active > a {
  background-color: #1e90e5;
  color: #fff;
  border: 1px solid #1e90e5;
  border-bottom-color: transparent; }

.g-tab-codeview .g-tab-content {
  display: none;
  padding: 5px;
  border: 1px solid #eee;
  border-top: 0;
  color: #333;
  font-size: 12px;
  border-radius: 0 0 5px 5px;
  max-height: 80vh;
  overflow: auto; }

.g-tab-codeview .g-tab-content.is-active {
  display: block; }

.g-tab-codeview .g-tab-content .brush-guide {
  padding: 0 5px;
  line-height: 2; }

.g-tab-codeview .g-tab-display {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 24px;
  padding: 0 10px;
  font-size: 11px;
  line-height: 24px;
  color: #f33413; }

/* Layout Frame */
.g-frame-wrap {
  position: relative; }

.g-frame-wrap .g-frame {
  position: relative;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #ddd; }

.g-frame-wrap .g-frame .g-frame-title {
  padding: 0;
  line-height: 1;
  background-color: #fff;
  color: #aaa; }

.g-frame-wrap .g-frame .g-frame-cont {
  margin-top: 10px;
  line-height: 1;
  color: #f33413; }

.g-frame-wrap .g-frame-outer {
  padding: 0 15px; }

.g-frame-wrap .g-frame-section {
  border: 1px solid #f33413; }

.g-frame-wrap .g-frame-section > .g-frame-title {
  color: #333; }

/* Comonent Item */
.g-item + .g-item {
  margin-top: 20px; }

/* Top */
a.g-top {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #000;
  line-height: 50px;
  color: #fff;
  border-radius: 50%;
  text-align: center; }

/*-------------------------------------------------------------------
	Codeview Edit
-------------------------------------------------------------------*/
.g-code .syntaxhighlighter .gutter,
.syntaxhighlighter .gutter {
  display: none !important; }

.g-code .syntaxhighlighter .line.alt1 {
  background-color: #fafafa !important; }

/*-------------------------------------------------------------------
	IA
-------------------------------------------------------------------*/
/* IA Title */
.g-ia-wrap .g-in-sec {
  max-width: 100%; }

.g-ia-wrap .g-content-header {
  height: 60px; }

.g-ia-wrap .g-content-body {
  padding-top: 0; }

.g-ia-wrap #gTotal {
  padding-top: 0; }

.g-ia-wrap #gTotal .g-section-body {
  margin-top: 0; }

.g-ia-wrap .g-section + .g-section {
  margin-top: 30px; }

.g-ia-wrap .g-section-body {
  margin-top: 10px; }

.g-ia-wrap .g-section-header {
  border: 0; }

.g-ia-wrap .g-h2 {
  font-size: 20px; }

.g-ia-wrap .g-h2:before {
  display: none; }

/* Graph */
.g-ia-graph li {
  margin: 3px 0; }

.g-ia-graph a {
  display: block;
  position: relative;
  line-height: 20px; }

.g-ia-graph span {
  display: inline-block; }

.g-ia-graph .tit {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: inline-block;
  width: 150px;
  height: 100%;
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff; }

.g-ia-graph .bar {
  display: block;
  position: relative;
  z-index: 1;
  height: 21px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px; }

.g-ia-graph .bar:before {
  content: attr(data-process);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: inline-block;
  width: 120px;
  text-align: right;
  color: #fff; }

.g-ia-graph .bar .active {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: block;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.6s ease-out;
  -o-transition: width 0.6s ease-out;
  transition: width 0.6s ease-out;
  -webkit-transition: width 0.6s ease-out 0s;
  -moz-transition: width 0.6s ease-out 0s;
  -o-transition: width 0.6s ease-out 0s;
  opacity: 1; }

.g-ia-graph .pages {
  position: absolute;
  left: 150px;
  top: 0;
  z-index: 3;
  padding-left: 10px;
  width: 65px;
  text-align: left;
  color: #fff; }

.g-ia-graph .bar:before, .g-ia-graph .pages {
  padding: 0 15px; }

/* Note */
.g-ia-note {
  padding: 10px;
  border: 2px solid #333;
  border-width: 2px 0 1px 0; }

/* Legend */
.g-ia-legend {
  position: absolute;
  right: 0;
  top: 5px; }

.g-ia-legend .item {
  margin-left: 20px; }

/* Table */
.g-ia-tbl {
  border-top: 2px solid #444;
  border-bottom: 1px solid #444; }

.g-ia-tbl table th,
.g-ia-tbl table td {
  height: 30px;
  padding: 3px 10px;
  text-align: center;
  font-size: 12px;
  border-left: 1px solid #eee; }

.g-ia-tbl table th {
  border-bottom: 1px solid #444;
  font-family: 'NSB';
  font-size: 14px; }

.g-ia-tbl table td {
  border-top: 1px solid #eee;
  color: #555; }

.g-ia-tbl table tr:first-child td {
  border-top: 0; }

.g-ia-tbl table tr th:first-child,
.g-ia-tbl table tr td:first-child {
  border-left: 0; }

.g-ia-tbl table tbody + tbody tr:first-child td {
  border-top: 1px solid #ccc; }

.g-ia-tbl table td.col-url,
.g-ia-tbl table td.col-memo,
.g-ia-tbl table td.col-1depth,
.g-ia-tbl table td.col-2depth,
.g-ia-tbl table td.col-3depth,
.g-ia-tbl table td.col-4depth,
.g-ia-tbl table td.col-5depth {
  text-align: left; }

.g-ia-tbl table td.col-1depth {
  color: #333;
  font-family: 'NSB';
  font-size: 14px; }

/* Colgroup */
.g-ia-tbl table .col-num {
  width: 60px; }

.g-ia-tbl table .col-1depth,
.g-ia-tbl table .col-2depth,
.g-ia-tbl table .col-3depth,
.g-ia-tbl table .col-4depth,
.g-ia-tbl table .col-5depth {
  width: 10%; }

.g-ia-tbl table .col-type {
  width: 60px; }

.g-ia-tbl table .col-url {
  width: 400px; }

.g-ia-tbl table .col-date {
  width: 100px; }

.g-ia-tbl table .col-complete {
  width: 60px; }

.g-ia-tbl table .col-worker {
  width: 100px; }

.g-ia-tbl table .col-memo {
  width: auto; }

@media (max-width: 1366px) {
  .g-ia-tbl table .col-url {
    width: auto; }
  .g-ia-tbl table .col-date,
  .g-ia-tbl table .col-worker {
    width: 100px; }
  .g-ia-tbl table .col-memo {
    width: 10%; } }

/* Setting */
.c-done {
  color: #005aff; }

td.col-complete[data-complete=wait] {
  color: #e52c1e; }

td.col-complete[data-complete=done] {
  color: #005aff; }

td.col-complete[data-complete]:after {
  content: attr(data-complete); }

td.col-complete[data-complete=wait]:after {
  content: ''; }

td.col-complete[data-complete=done]:after {
  content: '완료'; }

td.col-complete[data-complete=del]:after {
  content: '삭제'; }

td.col-complete[data-complete=except]:after {
  content: '제외'; }

td.col-type[data-type]:after {
  content: attr(data-type); }

td.col-url a {
  border-bottom: 1px solid #333; }

.g-ia-tbl table tr.row-done td {
  background-color: #f2f8fc; }

.g-ia-tbl table tr.row-del td {
  background-color: #f0f0f0;
  color: #bbb; }

.g-ia-tbl table tr.row-del td a {
  color: #bbb;
  border-bottom: 1px solid #bbb; }

.g-ia-tbl table tr.row-except td {
  background-color: #f0f0f0; }
