@charset "utf-8";

/*-------------------------------------------------------------------
    파일정의 : Guide Style
    참고사항 : 가이드는 g- 접두어를 사용
    분류순서 : Layout > UI
    속성순서 : Display > Position > Box Model > Design > Paragraph
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Variables
-------------------------------------------------------------------*/
/* 기본정책 */
$width-responsive-max: 1280px;
$width-responsive-xl: 1024px;
$width-responsive-lg: 720px;
$width-responsive-md: 640px;
$width-responsive-sm: 480px;
$width-responsive-xs: 360px;
$width-responsive-min: 320px;

/* 레이아웃 */
$color-basic-bg: #222;
$width-aside: 200px;
$height-logo: 30px;
$height-header: 40px;
$height-contentHeader: 60px;
$duration-layout: 0.3s;
$ease-layout: ease-out;
$gutter-aside: 15px;
$gutter-content: 20px;
$gutter-section: 20px;
$opacity-mask: 0.5;

/*-------------------------------------------------------------------
    ## Layout
-------------------------------------------------------------------*/
/* Wrapper */
#g-header {position:fixed; left:0; top:0; width:100%; height:$height-header; background-color:$color-basic-bg; @include mixTransform(translate($width-aside, -102%)); @include mixTransition(all $duration-layout $ease-layout);}
#g-header .g-header-inner {height:100%;}
#g-aside, #g-content {min-height:100vh;}
#g-aside {position:fixed; left:0; top:0; bottom:0; z-index:200; width:$width-aside; background-color:$color-basic-bg;  @include mixTransform(translate(0, 0)); @include mixTransition(transform $duration-layout $ease-layout);}
#g-aside .g-aside-scroll {height:100%; overflow:auto;}
#g-content {padding-left:$width-aside; background-color:#f0f0f0; @include mixTransition(padding-left $duration-layout $ease-layout)}
#g-content .g-content-inner {padding-top:0; @include mixTransition(padding-top $duration-layout $ease-layout)}
.g-mask {display:block; position:fixed; left:0; top:0; bottom:0; z-index:1000; background-color:#000; opacity:0; @include mixTransition(opacity $duration-layout $ease-layout);}
.is-aside-opened .g-mask {left:0; right:0; opacity:$opacity-mask;}
.is-aside-opened #g-aside {z-index:10001; @include mixTransform(translateX(0));}

/* Logo */
.g-logo a {font-size:16px; color:#fff; letter-spacing:1px; font-weight:bold;}
/*.g-logo:before {content:''; display:inline-block; width:50px; height:$height-logo; margin-right:20px; background:url('/images/guide/logo.png') no-repeat center center #007fd0; background-size:80% auto; vertical-align:middle;}*/
.g-btn-anb {display:inline-block; position:relative; float:left; height:100%; width:50px; color:transparent; background-color:transparent; border-right:1px solid #454545;}
.g-btn-anb:before, .g-btn-anb:after {content:'';}
.g-btn-anb:before, .g-btn-anb:after, .g-btn-anb span {display:block; position:absolute; left:50%; top:50%; width:40%; height:2px; overflow:hidden; background-color:#ccc; @include mixTransform(translate(-50%, -50%))}
.g-btn-anb:before {margin-top:-6px;}
.g-btn-anb:after {margin-top:6px;}
.g-location {display:inline-block; float:left; line-height:$height-header; color:#fff; padding:0 20px; border-right:1px solid #454545;}

/* LNB */
.g-lnb-group, #g-aside .g-logo {padding:$gutter-aside;}
.g-lnb-group {padding:$gutter-aside; border-top:1px solid #333;}
.g-lnb-group .g-lnb-tit {color:#eee; font-weight:bold;}
.g-lnb-group .g-depth1 {margin-top:10px;}
.g-lnb-group .g-depth1 > li + li {margin-top:5px;}
.g-lnb-group .g-depth1 > li > a {display:block; position:relative; line-height:1.5; color:#777; @include mixTransition(color 0.3s);}
.g-lnb-group .g-depth1 > li > a:focus,
.g-lnb-group .g-depth1 > li > a:active,
.g-lnb-group .g-depth1 > li > a:hover,
.g-lnb-group .g-depth1 > li > a.is-active {color:#fff;}
.g-lnb-group .g-depth1 > li > a.is-active::before {content:'>'; display:inline-block; position:absolute; right:10px; top:50%; font-size:8px; @include mixTransform(translateY(-50%))}

/* Content */
.g-content-header {height:$height-contentHeader; padding:$gutter-content;}
.g-content-body {padding:$gutter-content;}

/* Responsive */
@media screen and (max-width: $width-responsive-xl) {
    #g-header {@include mixTransform(translate(0, 0%));}
    #g-aside {@include mixTransform(translateX($width-aside * -1));}
    #g-content {padding-left:0;}
    #g-content .g-content-inner {padding-top:$height-header;}
}

/*-------------------------------------------------------------------
    ## UI
-------------------------------------------------------------------*/
/* Heading Text */
.g-tit-h2 {font-size:20px;}
.g-tit-h3 {font-size:16px;}
.g-tit-h4 {font-size:14px; margin-bottom:10px;}

/* Section */
.g-section {display:block;}
.g-section + .g-section {margin-top:40px;}
.g-section-header {margin-bottom:20px;}
.g-section-body {margin-top:20px; padding:$gutter-section; background-color:#fff; @include mixBorderRadius(5px)}

/* Tab */
.g-tab-codeview {margin-top:10px; position:relative;}
.g-tab-codeview .g-tab-body {overflow:hidden;}
.g-tab-codeview .g-tab-nav {background-color:#eee;}
.g-tab-codeview .g-tab-nav ul::after {content:''; display:block; clear:both;}
.g-tab-codeview .g-tab-nav li {float:left; line-height:1;}
.g-tab-codeview .g-tab-nav li + li {margin-left:-1px;}
.g-tab-codeview .g-tab-nav li > a {display:block; padding:5px 10px; font-size:12px; line-height:1; border:1px solid #eee; background-color:#fff;}
.g-tab-codeview .g-tab-nav li.is-active > a {background-color:#1e90e5; color:#fff; border:1px solid #1e90e5; border-bottom-color:transparent;}
.g-tab-codeview .g-tab-content {display:none; padding:5px; border:1px solid #eee; border-top:0; color:#333; font-size:12px; border-radius:0 0 5px 5px; max-height:80vh; overflow:auto;}
.g-tab-codeview .g-tab-content.is-active {display:block;}
.g-tab-codeview .g-tab-content .g-source-guide {padding:0.3em 1em; font-size:12px; vertical-align:baseline; font-family:"Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important; line-height:1.1em;}
.g-tab-codeview .g-tab-display {position:absolute; right:0; top:0; display:block; height:24px; padding:0 10px; font-size:11px; line-height:24px; color:#f33413;}


/*-------------------------------------------------------------------
	Codeview Edit
-------------------------------------------------------------------*/
.g-tab-codeview .syntaxhighlighter .gutter {display:none !important;}
.g-tab-codeview .syntaxhighlighter .line.alt1 {background-color:#fafafa !important;}
