@charset 'utf-8';

/*-------------------------------------------------------------------
    파일정의 : 초기화 스타일
    분류순서 : Base > Fonts
    속성순서 : Display > Position > Box Model > Design > Paragraph
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
    ## Base
-------------------------------------------------------------------*/
::before, ::after, html, body, div, ul, ol, dl, li, dd, p, h1, h2, h3, h4, h5, h6, table, th, td, caption, address, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section, button, select, textarea, input, fieldset, legend, a, span, strong, em, address, dfn, small, i, b {box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; margin:0; padding:0; border:0; list-style:none; word-break:break-all; font-family:"NSR", "Dotum", "Dotumche", "돋움", "돋움체", "Arial"; font-style:normal; font-size:100%;}
::before, ::after, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block;}
img, a, frame, iframe, fieldset {border:0;}
fieldset, iframe {width:100%;}
table {width:100%; border-spacing:0; border-collapse:collapse;}
caption {visibility:hidden; height:0; line-height:0; font-size:0;}
legend {position:absolute; left:-9999em; top:-9999em;}
hr {display:none;}

/*-------------------------------------------------------------------
    ## Fonts
-------------------------------------------------------------------*/
@font-face {font-family:"NSR"; src:url('../fonts/NanumGothic.eot'); src:local('※'), url('../fonts/NanumGothic.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic.woff') format('woff');}
@font-face {font-family:"NSB"; src:url('../fonts/NanumGothic-Bold.eot'); src:local('※'), url('../fonts/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-Bold.woff') format('woff');}
@font-face {font-family:"NSEB"; src:url('../fonts/NanumGothic-ExtraBold.eot'); src:local('※'), url('../fonts/NanumGothic-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/NanumGothic-ExtraBold.woff') format('woff');}