@charset "utf-8";

/*-----------------------------------------------------------------------------------------------------------------------------------
	File	: Common.css
	Company	: The Webstyle co.,ltd
	Author	: 조찬기 / 2017-06
	Modify  :
	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, color/font, align, etc
------------------------------------------------------------------------------------------------------------------------------------*/

/* skipNav */
#skipNav {position:relative; z-index:9999;}
#skipNav a {display:block; height:1px; width:1px; margin-bottom:-1px; overflow:hidden; font-size:20px; color:#fff; font-weight:bold; background:#2466a6; white-space:nowrap; text-align:center;}
#skipNav a:focus, #skipNav a:active {height:auto; width:100%; padding:5px; margin-bottom:10px; position:absolute; left:0; top:0;}

/* Display */
.dis_i  {display:inline;}
.dis_ib {display:inline-block;}
.dis_b  {display:block;}
.dis_n  {display:none;}
.dis_t  {display:table; width:100%;}
.dis_tc {display:table-cell; white-space:nowrap;}

/* Position Style */
.pr {position:relative !important;}
.pa {position:absolute !important;}
.pf {position:fixed !important;}

/* Float */
.ovh {overflow:hidden !important;}
.fl {float:left !important;}
.fr {float:right !important;}
.cb:after {content:""; display:block; clear:both;}

/* Scroll */
.scr_a {overflow:auto;}
.scr_x {overflow-x:scroll;}
.scr_y {overflow-y:scroll;}

/* Hidden */
.hide {visibility:hidden; position:absolute; left:0; top:0;}

/* Margin */
.mg_n   {margin:0px !important;}
.mg_tn  {margin-top:0px !important;}
.mg_rn  {margin-right:0 !important;}
.mg_bn  {margin-bottom:0 !important;}
.mg_ln  {margin-left:0 !important;}
.mg_auto{margin:auto !important;}

/* Padding */
.pd_n   {padding:0px !important;}
.pd_tn  {padding-top:0px !important;}
.pd_rn  {padding-right:0px !important;}
.pd_bn  {padding-bottom: 0px !important;}
.pd_ln  {padding-left:0 !important;}

/* Border Style */
.bd_tn {border-top:0px !important;}
.bd_rn {border-right:0px !important;}
.bd_bn {border-bottom:0px !important;}
.bd_ln {border-left:0px !important;}
.bd_n  {border:none !important;}

/* Color */
.c_main  {color:#ff0000;} /* 메인컬러 */
.c_sub   {color:#ff6600;} /* 서브컬러 */
.c_info  {color:#666666;} /* 설명컬러 */
.c_addon {color:#666666;} /* 부호컬러 */

/* Font Weight */
.fn {font-family:"NanumSquareR";}
.fb {font-family:"NanumSquareB";}
.feb {font-family:"NanumSquareEB";}

/* Text Align */
.l {text-align:left !important;}
.c {text-align:center !important;}
.r {text-align:right !important;}
.t {vertical-align:top !important;}
.m {vertical-align:middle !important;}
.b {vertical-align:bottom !important;}

/* Grid */
.row {position:relative; width:100%;}
.row:after {display:block; clear:both; content:"";}
.col {float:left;}
.col2 > .col {width:50%;}
.col3 > .col {width:33.3333333%;}
.col3 > .col:first-child {width:33.3333333%;}
.col4 > .col {width:25%;}
.col5 > .col {width:20%;}
.col6 > .col {width:16.6666666%;}
.col6 > .col:first-child {width:16.6666667%;}
.col7 > .col {width:14.2857142%;}
.col7 > .col:first-child {width:14.2857148%;}
.col8 > .col {width:12.5%;}
.col9 > .col {width:11.1111111%;}
.col9 > .col:first-child {width:11.1111112%;}
.col10 > .col {width:10%;}
.col12 > .col {width:8.333333%;}
.col12 > .col:first-child {width:8.333334%;}

/* 해상도대응 (필요시 사용)
@media only screen and (max-width : 319px) {html{font-size:12px}}
@media only screen and (min-width : 320px) {html{font-size:12px}}
@media only screen and (min-width : 400px) {html{font-size:13px}}
@media only screen and (min-width : 480px) {html{font-size:14px}}
@media only screen and (min-width : 560px) {html{font-size:15px}}
@media only screen and (min-width : 640px) {html{font-size:16px}}
*/


