@charset "utf-8";

/*-----------------------------------------------------------------------------------------------------------------------------------
	File	: Base.css
	Company	: The Webstyle co.,ltd
	Author	: 조찬기 / 2017-06
	Modify  :
	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, color/font, align, etc
------------------------------------------------------------------------------------------------------------------------------------*/

* {margin: 0px; padding: 0px; font-family: "NanumSquareR", "Dotum", "Dotumche", "돋움", "돋움체", "Arial";
  box-sizing: inherit;  -webkit-box-sizing: inherit; -moz-box-sizing: inherit; -o-box-sizing: inherit;
  &:before, &:after {
    margin: 0px; padding: 0px; font-family: "NanumSquareR", "Dotum", "Dotumche", "돋움", "돋움체", "Arial";
    box-sizing: inherit; -webkit-box-sizing: inherit; -moz-box-sizing: inherit; -o-box-sizing: inherit;
  }
}

html {height:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
body {height:100%; font-size:100%; font:inherit; line-height:1; vertical-align:baseline; color:#333333;}
address, article, aside, canvas, details, figure, figcaption, footer, header, menu, nav, section {display:block; margin:0\9; padding:0\9;}
hr, caption {display:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
img {border:none; vertical-align:middle;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {width:100%; border:0px; border-spacing:0px; border-collapse:collapse;}
th, td {border:0px; word-break:break-all;}
th {font-weight:normal;}
fieldset {width:100%; border:0px;}
legend {display:none;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address {font-style:normal;}
button, select, input, label {font-family:"NanumSquareR"; vertical-align:middle;}

@font-face {
  font-family: "NanumSquareR";
  src: url('../Fonts/NanumSquareR.eot');
  src: local("※"), url('../Fonts/NanumSquareR.eot?#iefix') format("embedded-opentype"), url('../Fonts/NanumSquareR.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NanumSquareB";
  src: url('../Fonts/NanumSquareB.eot');
  src: local("※"), url('../Fonts/NanumSquareB.eot?#iefix') format("embedded-opentype"), url('../Fonts/NanumSquareB.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NanumSquareEB";
  src: url('../Fonts/NanumSquareEB.eot');
  src: local("※"), url('../Fonts/NanumSquareEB.eot?#iefix') format("embedded-opentype"), url('../Fonts/NanumSquareEB.woff') format("woff");
  font-style: normal;
  font-weight: normal;
}

.selector {color:#ffffff}