@charset "utf-8";

/*-----------------------------------------------------------------------------------------------------------------------------------
	File	: UI_Style.css
	Company	: The Webstyle co.,ltd
	Author	: 조찬기 / 2017-06
	Modify  :
	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
	CSS 속성 선언순서 : display, position, float/clear, overflow, width/height, margin/padding, border, background, color/font, align, etc
------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------
						Link
------------------------------------------------------------------------------------------*/
a {color:#333333; text-decoration:none}
a:active, visited, link {color:#666666}
a:hover {color:#333333}


/*------------------------------------------------------------------------------------------
						Input
------------------------------------------------------------------------------------------*/
input {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border:0px;}
input[type=text], input[type=password] {
	height:36px; padding:6px;
	border:1px solid #dfdfdf; background-color:#ffffff;
	color:#333; font-size:16px; line-height:15px; font-family:"NanumSquareR";
	vertical-align:middle;
}

/* Placeholder Color - IE 10 + */
:-ms-input-placeholder {color:#999;}
/* Placeholder Color - Webkit Browser */
::-webkit-input-placeholder {color:#999;}
/* Placeholder Color - Mozilla Firefox 4 to 18 */
:-moz-placeholder {color:#999;}
/* Placeholder Color - Mozilla Firefox 19+ */
::-moz-placeholder {color:#999;}

/* Checkbox Wrapper, Radio Wrapper */
.checkbox_wrap, .radio_wrap {display:inline-block;}
.checkbox_wrap input, .radio_wrap input {margin-left:25px;}
.checkbox_wrap input:first-child, .radio_wrap input:first-child {margin-left:0;}


/*------------------------------------------------------------------------------------------
						Textarea
------------------------------------------------------------------------------------------*/
textarea {width:100%; padding:10px; height:100%; border:1px solid #CDCDCD; vertical-align:middle;
	font-size:16px; line-height:19px; color:#333; resize:none;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-webkit-transition-property: width;
	-moz-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.5s, 0.5s;
	-moz-transition-duration: 0.5s, 0.5s;
	transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing-function: linear, ease-in;
	-moz-transition-timing-function: linear, ease-in;
	transition-timing-function: linear, ease-in;
	font-family:"NanumSquareR";
}


/*------------------------------------------------------------------------------------------
						Select
------------------------------------------------------------------------------------------*/
select {
	min-width:70px;
	min-width:70px\9;
	height:36px;
	padding:5px 30px 3px 5px;
	padding:5px 35px 4px 5px\9;
	border:1px solid #cccccc;
	font-size:16px;
	color:#666;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-o-appearance:none;
	background:url('/Images/Common/ico_select.gif') right center no-repeat;
	background:none\9;
	background-color:#fff;
	font-family:"NSB";
}
:root select {padding:6px 6px 6px 15px \0/IE9; font-size:16px \0/IE9; font-family:"NSB";}
select::-ms-expand {display:none;}
input[type=text] + input[type=text],
input[type=text] + select,
select + select {margin-left:7px;}

/* Layer Select */
.selectBox {position:relative; display:inline-block; font-size:0.85rem;}
.selectBox a {color:#ffffff;}
.selectBox .selectMenu {display:none; position:absolute; left:0; top:3.2rem; width:100%; padding:0.5rem; background-color:#88b04b;}
.selectBox .selectMenu a {display:block; padding:0.5rem 0;}
.selectBox .selectVal {padding-right:20px;}
.selectBox .selectVal a {display:block; height:1.557rem;}
.selectBox a.arrow {position:absolute; left:0; right:0; top:0; text-indent:-9999px;}


/*------------------------------------------------------------------------------------------
						File
------------------------------------------------------------------------------------------*/
.input_file {display: inline-block; position: relative; overflow: hidden; vertical-align: middle;}
.input_file input[type=file] {
	position:absolute; top:0px; left:0px; width:100%; height:100%;
	opacity:0; filter:alpha(opacity=0); -ms-filter:alpha(opacity=0); -khtml-opacity:0; -moz-opacity:0;
}


/*------------------------------------------------------------------------------------------
						Button
------------------------------------------------------------------------------------------*/
/* Button */
button {overflow:visible; padding:0px; border:0px; font-size:16px; font-family:"NanumSquareR"; cursor:pointer; outline:none; background-color:transparent;}
button::-moz-focus-inner {border:0px; padding:0px;}
button>span {position:relative;}

.btn {position:relative; display:inline-block; font-family:"NanumSquareR"; vertical-align:middle; cursor:pointer; text-align:center; white-space:nowrap; opacity:1}
.btn span {display:inline-block;}
.btn:hover {transition-property: background-color, color ,opacity; transition-duration:0.5s; transition-timing-function: ease-out;}

.btn_wrap {text-align:center;}
.btn_wrap:after {content:""; display:block; clear:both;}
.btn_wrap .btn_left {display:inline-block; float:left;}
.btn_wrap .btn_right {display:inline-block;  float:right;}
.btn_wrap a {display:inline-block;  padding:0 30px; color:#fff; line-height:34px;}

/* Button UI */


/*------------------------------------------------------------------------------------------
						Icon
------------------------------------------------------------------------------------------*/
.ico {display:inline-block; vertical-align:middle; background:url() 0 0 no-repeat;}


/*------------------------------------------------------------------------------------------
						Label
------------------------------------------------------------------------------------------*/
.label {display:inline-block; vertical-align:middle; background:url() 0 0 no-repeat;}


/*------------------------------------------------------------------------------------------
						Bedge
------------------------------------------------------------------------------------------*/
.bedge {display:inline-block; vertical-align:middle; background:url() 0 0 no-repeat;}


/*------------------------------------------------------------------------------------------
						Heading Text
------------------------------------------------------------------------------------------*/
/* Base */
.wrapper .tit_h1 {}
.wrapper .tit_h2 {}
.wrapper .tit_h3 {}
.wrapper .tit_h4 {}
.wrapper .tit_h5 {}
.wrapper .tit_h6 {}

/* Layer */
.lp_wrapper .tit_h1 {}
.lp_wrapper .tit_h2 {}
.lp_wrapper .tit_h3 {}
.lp_wrapper .tit_h4 {}
.lp_wrapper .tit_h5 {}
.lp_wrapper .tit_h6 {}

/* Window Popup */
.wp_wrapper .tit_h1 {}
.wp_wrapper .tit_h2 {}
.wp_wrapper .tit_h3 {}
.wp_wrapper .tit_h4 {}
.wp_wrapper .tit_h5 {}
.wp_wrapper .tit_h6 {}


/*------------------------------------------------------------------------------------------
						Paragraph Text
------------------------------------------------------------------------------------------*/
.txt_explan {}


/*------------------------------------------------------------------------------------------
						List
------------------------------------------------------------------------------------------*/
ul.ul_dot li {padding-left:25px; background:url("/Images/Common/bu_dot_red.gif") no-repeat 0 50%;}
ol.ol_decimal li {list-style-type:decimal; margin-left:15px;}


/*------------------------------------------------------------------------------------------
						Tap
------------------------------------------------------------------------------------------*/
/* Tap - Base Style */
ul.tap:after {display:block; clear:both; content:'';}
ul.tap li {position:relative; float:left;}
ul.tap li a {display:block; width:100%; text-align:center;}
ul.tap li.active a:before {position:absolute; top:-9999px; content:'선택됨 ';}
ul.tap.cols2 li {width:50%;}
ul.tap.cols3 li {width:33.33333%;}
ul.tap.cols3 li:first-child {width:33.66667%;}
ul.tap.cols4 li {width:25%;}
.tap_content {display:none;}
.tap_content.active {display:block;}


/*------------------------------------------------------------------------------------------
						Table
------------------------------------------------------------------------------------------*/
table .ellipsis {display:inline-block; overflow:hidden; width:100%; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;}


/*------------------------------------------------------------------------------------------
						Board
------------------------------------------------------------------------------------------*/
/* board_wrap */
.board_wrap {}

/* board_list */
.board_list {}

/* board_page */
.board_page {}

/* board_view */
.board_view {}

/* board_write */
.board_write {}


/*------------------------------------------------------------------------------------------
						기타 UI
------------------------------------------------------------------------------------------*/
.img_list {}


/*------------------------------------------------------------------------------------------
						Effect
------------------------------------------------------------------------------------------*/
/* Rollover */
.rollover-overay,
.rollover-overay.active {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.2s, 0.2s;
	-moz-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	overflow:hidden;
;}


/*------------------------------------------------------------------------------------------
						ColorBox
------------------------------------------------------------------------------------------*/
#colorbox, #cboxOverlay, #cboxWrapper {position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay {position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent {position:relative}
#cboxLoadedContent {overflow:hidden; -webkit-overflow-scrolling: touch;}/*overflow:hidden:동영상팝업스크롤 170516*/
#cboxTitle {margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic {position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {cursor:pointer;}
.cboxPhoto {float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe {width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent {/*box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;*/;}

#cboxOverlay {background:#000;}
#colorbox {outline:0;}
#cboxContent {margin:0px;/*background:#000;*/;}
.loading #cboxContent {background-color:#fff;}
.cboxIframe {background:#fff;}
#cboxError {padding:50px; border:1px solid #ccc;}
#cboxLoadedContent {;}
#cboxTitle {display:none !important; position:absolute; top:0px; left:0; color:#ccc;}
#cboxCurrent {display:none !important; position:absolute; top:0px; right:0px; color:#ccc;}
#cboxLoadingGraphic {background:url('/Images/Common/img_loading.gif') no-repeat center center;}
/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {display:none; border:0; padding:0; margin:0; overflow:visible; width:auto; background:none;}
#cboxClose {position:absolute; top:14px; right:60px; width:15px; height:13px; text-indent:-9999px; background:url('/Images/Common/btn_lp_close.png') center center no-repeat;}


/*------------------------------------------------------------------------------------------
						Layer Box
------------------------------------------------------------------------------------------*/
.modal_overlay {display:none; position:fixed; left:0px; top:0px; z-index:1000; width:100%; height:100%; background-color:rgba(0,0,0,0.6);}
.modal_overlay.alpha0 {background-color:rgba(0,0,0,0);}
.modal_wrap {display:inline-table; width:100%; height:100%;}
.modal_wrap .modal_container {display:table-cell; width:100%; height:100%; text-align:center; vertical-align:middle; background-color:#000;}
.modal_wrap .modal_container .modal_content {display:block; position:relative; z-index:10;}
.modal_wrap .btn_modal_close {display:block; position:absolute; top:14px; right:20px; z-index:100; width:15px; height:13px; text-indent:-9999px; background:url('/Images/Common/btn_lp_close.png') center center no-repeat;}

/* No ColorBox */
.overlay {display:none; position:fixed; left:0px; top:0px; z-index:999; width:100%; height:100%; background:#000; opacity:0.6; filter:alpha(opacity=60); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=60)";}
.overlay.on {display:block !important;}

/* Layer Popup - Common */
.lp_modal {display:none;}
.lp_wrap {min-width:280px;}
.lp_wrap .lp_container {position:relative;}
.lp_wrap .lp_header {height:40px; background-color:#00A0E0;}
.lp_wrap .lp_header h2 {padding-left:20px; font-size:16px; line-height:40px; color:#fff;}
.lp_wrap .lp_body {display:block; position:relative; background-color:#fff;}

/* Layer Popup - Type */
.lp_wrap.lp_video {display:block; position:relative; padding:24px 0 0 0;}
.lp_wrap.lp_video .lp_header {height:68px; background-color:#FFF;}
.lp_wrap.lp_video .lp_header h2 {padding:9px 0 0 20px; background-image:none;}
.lp_wrap.lp_video #videoPlay {width:676px; height:390px}
.lp_wrap.lp_video a.btn_lp_close {display:block; position:absolute; right:0; top:0; width:18px; height:18px; text-indent:-9999px; background:url('/Images/Common/btn_lp_close.png') center center no-repeat;}